<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="./css/index.css" />
</head>

<body>
  <div class="light-row" style="margin-bottom: 20px;">
    <div class="light-col-12">
      <div id="app"></div>
    </div>
  </div>
  <div class="light-row" style="margin-bottom: 20px;">
    <div class="light-col-12">
      <div id="upload"></div>
    </div>
  </div>
  <div class="light-row" style="margin-bottom: 20px;">
    <div class="light-col-12">
      <div id="alert"></div>
    </div>
  </div>
  <div class="light-row" style="margin-bottom: 20px;">
    <div class="light-col-12">
      <div id="pagination"></div>
    </div>
  </div>
  <script src="./js/locales/zh-CN.js"></script>
  <script src="./js/locales/zh-MO.js"></script>
  <script src="./js/locales/en-US.js"></script>
  <script src="./js/global.js"></script>
  <script src="./js/components/notification/notification.js"></script>
  <script src="./js/components/imageUpload/imageUpload.js"></script>
  <script src="./js/components/cascader/cascader.js"></script>
  <script src="./js/components/tree/tree.js"></script>
  <script src="./js/components/checkbox/checkbox.js"></script>
  <script src="./js/components/select/select.js"></script>
  <script src="./js/components/pagination/pagination.js"></script>
  <script src="./js/components/upload/upload.js"></script>
  <script src="./js/components/alert/alert.js"></script>
  <script src="./js/components/modal/modal.js"></script>
  <script src="./js/components/table/tableRebuild.js"></script>
  <script src="./js/components/tabs/tabs.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>